version: '3.8'

services:
  app:
    container_name: flui_app
    build: . 
    ports:
      - "3072:3000" 
    volumes:
      - ./src:/app/src 
    env_file:
      - .env 
    depends_on:
      - db 

  db:
    image: postgres:15-alpine
    container_name: flui_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER} 
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    name: patio-postgres-data