# Valores específicos para ambiente de PRODUÇÃO
replicaCount: 3

image:
  repository: ghcr.io/ianjairo/flui-backend
  tag: "prod-1361189"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-secret

env:
  NODE_ENV: production
  PORT: "3000"

swagger:
  user: admin
  password: "SenhaProdForte@2025!"

database:
  host: postgres-cluster-prod-rw
  port: 5432
  name: flui_prod
  user: flui
  existingSecret: "flui-db-prod-secret"

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/rate-limit: "100"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: api.flui.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: flui-prod-tls
      hosts:
        - api.flui.com

migration:
  enabled: true

rollout:
  enabled: true
  strategy: canary
  canary:
    maxSurge: 1
    maxUnavailable: 0
    steps:
      - setWeight: 20
      - pause:
          duration: 2m
      - setWeight: 40
      - pause:
          duration: 2m
      - setWeight: 60
      - pause:
          duration: 2m
      - setWeight: 80
      - pause:
          duration: 2m
    analysis:
      enabled: false
      startingStep: 1
